body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the player wins elements */
}
.star-rating {
    color: grey;
    font-size: 48px;
  }
  .star-rating .gold{
    color: gold;
  }
  


.players {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.player {
  padding: 20px;
  display: flex;
  flex-direction: column;
  .choices {
    display: flex;
  }
}

.choice {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#result {
  margin: 20px;
}
